{% extends 'base.html.twig' %}

{% block title %}New Single{% endblock %}

{% block body %}
    <h1>Create new Single</h1>

    {{ include('single/_form.html.twig') }}

    <a href="{{ path('single_index') }}">back to list</a>
{% endblock %}